<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>UsersDB</title>
</head>
<body>
<br/>
<h2 th:align="center">User profile</h2>
<br/>
<div>
    <table th:bgcolor="ghostwhite" th:align="center" th:cellpadding="10" border="1">
        <tbody>
        <tr >
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:text ="${user.getUsername()}"></td>
            <td th:text ="${user.getPassword()}"></td>
            <td th:text ="${user.getAge()}"></td>
            <td th:text ="${user.getEmail()}"></td>
            <td th:each ="role : ${user.roles}" th:text="${role.role}"></td>
        </tr>
        </tbody>
    </table>
    <h3 th:align="center">
        <a href="/logout">Logout</a>
    </h3>
</div>
</body>
</html>