<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body th:bgcolor="ghostwhite" th:align="center">
<br/>
<div class="center">
    <h2>User info</h2>
    <form th:action="@{/admin/update(id=${user.getId()})}" th:method="POST" th:object="${user}">
        <label for="name">Name:</label>
        <input id="name" type="text" th:field="*{username}" th:value="${user.username}"/>
        <br>
        <br>
        <label for="password">Password:</label>
        <input id="password" type="text" th:field="*{password}" th:value="${user.password}"/>
        <br>
        <br>
        <label for="age">Age:</label>
        <input id="age" type="text" th:field="*{age}" th:value="${user.age}"/>
        <br>
        <br>
        <label for="email">Email:</label>
        <input id="email" type="text" th:field="*{email}" th:value="${user.email}"/>
        <br>
        <br>
        <label>Roles:
            <input type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:value="${role.id}"
                   th:text="${role.role}"
                   th:checked="${#lists.contains(user.roles, role)}"
            />
        </label>
        <br>
        <br>
        <input type="submit" value="Update user profile">
    </form>
</div>
</body>
</html>